In [1]:
import pandas as pd
import numpy as np

In [3]:
# Hand Permutations

from itertools import combinations

card_list = ['AH','2H','3H','4H','5H','6H','7H','8H','9H','TH','JH','QH','KH',
            'AD','2D','3D','4D','5D','6D','7D','8D','9D','TD','JD','QD','KD',
            'AS','2S','3S','4S','5S','6S','7S','8S','9S','TS','JS','QS','KS',
            'AC','2C','3C','4C','5C','6C','7C','8C','9C','TC','JC','QC','KC']  # Used for 4 Hand

card_list.sort()

card_list_unsuited = ['AH','2H','3H','4H','5H','6H','7H','8H','9H','TH','JH','QH','KH'] # Used for 2 Hand
 
possible_hands_6 = list(combinations(card_list,6))
possible_hands_6_unique = list(map(deconstruct_values, possible_hands_6))

In [20]:
def deconstruct_values(hand):
    hand = list(hand)
    hand.sort()
    value_string = ''
    for element in hand:
        value_string += element[0]
    return(value_string)

def six_to_list(deal,df):
    hand_list = list(combinations(deal,4))
    hand_list = list(map(deconstruct_values,hand_list))
    new_df = (df[df.Hand.isin(hand_list)]
    .sort_values('Mean', ascending=False)
    .assign(Deal = deconstruct_values(deal))
    .iloc[0:1])
    return(new_df)

def combos_to_dataframe(hands,df):
    return_df = pd.DataFrame()
    for hand in hands:
        new_row = six_to_list(hand,df)
        return_df = pd.concat([return_df,new_row])
    return_df = (return_df.drop_duplicates()
                 .sort_values('Mean', ascending = False)
                 .iloc[:,[-1,1,2,3,4,5,6,7,8,9,10,11]])
    return(return_df)


def unique(list1):
    list_set = set(list1)
    unique_list = (list(list_set))
    return(unique_list)

In [24]:
cribbage_4_post_discard = combos_to_dataframe(possible_hands_6_unique,cribbage_4)
cribbage_4_post_discard

,Deal,Hand,Score_List,Mean,Median,Mode,Std,Q1,Q3,Min,Max,Freq
0,255558,5555,"[20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 2...",22.666667,20.0,20,3.771236,20.0,28.0,20,28,48
0,5555AJ,5555,"[20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 2...",22.666667,20.0,20,3.771236,20.0,28.0,20,28,48
0,555577,5555,"[20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 2...",22.666667,20.0,20,3.771236,20.0,28.0,20,28,48
0,55558J,5555,"[20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 2...",22.666667,20.0,20,3.771236,20.0,28.0,20,28,48
0,5555AA,5555,"[20, 20, 20, 20, 20, 20, 20, 20, 28, 28, 28, 2...",22.666667,20.0,20,3.771236,20.0,28.0,20,28,48
...,...,...,...,...,...,...,...,...,...,...,...,...
1682,367KQT,367Q,"[5, 9, 5, 12, 10, 7, 5, 5, 5, 4, 8, 6, 4, 11, ...",2.190430,2.0,0,2.310641,0.0,4.0,0,12,12288
1688,279KQT,279T,"[5, 7, 7, 7, 9, 11, 8, 5, 5, 4, 6, 6, 6, 6, 8,...",2.148763,2.0,2,1.736463,2.0,3.0,0,11,12288
1693,79AKQT,9AQT,"[5, 5, 9, 11, 7, 5, 8, 9, 5, 6, 4, 4, 8, 10, 6...",2.148763,2.0,0,1.918846,0.0,4.0,0,11,12288
1690,479KQT,49QT,"[9, 7, 5, 9, 7, 5, 8, 9, 5, 8, 6, 4, 6, 8, 6, ...",2.148763,2.0,2,1.532527,2.0,4.0,0,9,12288
1701,379KQT,379T,"[5, 7, 5, 9, 7, 11, 8, 5, 5, 4, 6, 8, 4, 8, 6,...",2.107096,2.0,2,1.898101,0.0,3.0,0,11,12288